GOOGLE_SERVICES_MODE=demo
GOOGLE_CLOUD_PROJECT=creovate-491009
GOOGLE_MAPS_API_KEY=AIzaSyCbHDc_279De39_rOpTYjoTBSoSZswMedM
FIREBASE_AUDIENCE=your-firebase-project-id
FIREBASE_SERVICE_ACCOUNT_JSON=
PUBSUB_TOPIC=venue-intervention
BIGQUERY_DATASET=pulsepath_analytics
BIGQUERY_TABLE=optimizations
GOOGLE_WALLET_ISSUER_ID=489981785524-l0hndhurke2aenaie1i5ntbb96vm4nmp.apps.googleusercontent.com
GOOGLE_WALLET_CLASS_ID=venue_live_pass
